.title {
  position: relative;
  margin: auto;
  width: 50%;
  margin-top: 30px;
  color: midnightblue;
}
.filter{
  position: relative;
  color: #455f70;
  font-size: 15px;
  margin: auto;
  width: 70%;
}
.genre{
  position: relative;
  margin: auto;
  width: 70%;
}
.genrebox {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}
.range{
  position: relative;
  margin: auto;
  margin-top: 5px;
  width: 100%;
}
.container{
  position: relative;
  margin: auto;
  width: 50%;
  height: 20%;
  border: 3px solid black;
  border-radius: 6px;
  padding: 10px;
  background-color: #253b53;
}
.sortbox {
  position: relative;
  margin: auto;
  width: 46%;
  height: 20%;
  padding: 10px;
  margin-bottom: 10px;
}

input[type=search] {
  width: 90%;
}
select {
  position: relative;
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
}
body{
  background-color: #141d26;
  color: snow;
  margin-bottom: 70px;
}
div .notify{
  color: black
}
button.btn.dropdown-toggle.bs-placeholder.btn-info {
  color: white
}
.icon1{
  position:fixed;
  left:80px;
  top:15%;
  font-size: 40px;
  border: none;
  color: white;
}
.icon2{
  position:fixed;
  left:80px;
  top:25%;
  font-size: 40px;
  border: none;
}
.icon3{
  position:fixed;
  left:80px;
  top:35%;
  font-size: 40px;
  border: none;
}
.main{
  border: 3px solid black;
  border-radius: 4px;
  margin: auto;
  width: 601px;
  height: 255px;
  background-color: #253b53;
}
.ov_rating{
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  margin-left:497px;
  margin-right: -1px;
  margin-top: 50px;
  width: 100px;
  height:50px;
  text-align-last:  center;
  font-size:20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t_main{
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  margin-left: 150px;
  margin-top: -1px;
  width: 447px;
  height: 51px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.g_main{
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  margin-left: 150px;
  margin-top: 50px;
  width: 347px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.d_main {
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  margin-left: 150px;
  margin-top: 100px;
  width: 446px;
  height: 125px;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.a_main{
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  margin-left: 150px;
  margin-top: 225px;
  width: 447px;
  height: 25px;
  display: block;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}
.img{
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  margin-left: -1px;
  margin-top: -1px;
  width: 150px;
}
.trailer{
  border: 1px solid black;
  border-radius: 4px;
  margin-left: -1px;
  margin-top: 225px;
  width: 151px;
  height:25px;
}
.add{
  position: absolute;
  margin-top: -75px;
  margin-left: 100%;
  border: 2px solid black;
  border-radius: 2px;
}
.add:hover{
  cursor: pointer;
}
.watched{
  border: 2px solid black;
  border-radius: 2px;
  position: absolute;
  margin-left: 100%;
  margin-top: -37px;
  width: 39px;
}
.watched:hover{
  cursor: pointer;
}
.watchlist{

}
.wl_main{
  border: 3px solid black;
  border-radius: 4px;
  position: relative;
  margin: auto;
  width: 601px;
  height: 230px;
  background-color: #253b53;
}
.wl_actor {
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  margin-left: 150px;
  margin-top: 100px;
  width: 447px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wl_watched {
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  margin-left: 250px;
  margin-top: 150px;
  width: 100px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wl_remove {
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  margin-left: 150px;
  margin-top: 150px;
  width: 100px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pr {
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  margin-left: 347px;
  margin-right: -1px;
  margin-top: 150px;
  width: 250px;
  height: 75px;
  display: flex;
  justify-content: center;
}

.logout{
  position:fixed;
  left:90%;
  top:20%;
  padding: 2px;
}
.login{
  position:fixed;
  left:90%;
  top:10%;
}

.fa {
  color: white;
  text-shadow: 2px 2px 2px #000;
  cursor: pointer;
}

.g-signin-button {
  /* This is where you control how the button looks. Be creative! */
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #3c82f7;
  color: #fff;
  box-shadow: 0 3px 0 #0f69ff;
}

.login-component{
  position: fixed;
  left: 85%;
  top: 30%;
}

.notifications {
  margin-bottom: 50px;
  margin-left: 30px;
}

.inactive {
  color: #636363;
  transition: 0.3s;
}
.inactive:hover {
  color: white;
}
.animatable {
  transition: 0.3s;
  vertical-align: middle;
  margin-left: 3px;
}
.rotate {
  transform: rotate(180deg);
}
.font-scale {
	transition: 0.1s;
}
.font-scale:hover {
	transform: scale(1.1);
}
